<header>
    <!-- <script>console.log("does thiswork")</script> -->
    <!-- Menu icon -->
    <div class="menu-icon"></div>
    <div class="menu-icon"></div>
    <div class="menu-icon"></div>

    <nav class="header-nav">
        <a href="/">Openingstijden</a>
        <a href="/">Reserveren</a>
    </nav>
    
</header>