<header>

    <!-- Menu icon -->
    <section class ="menu-icon">
        <div class="menu-icon"></div>
        <div class="menu-icon"></div>
        <div class="menu-icon"></div>
    </section>

    <nav class="header-nav">
        <a href="/">Openingstijden</a>
        <a href="/form">Reserveren</a>
    </nav>
    
</header>