<header>
    
    <nav class="header-nav">
        <a href="/home">.</a>
        <a href="/">Openingstijden</a>
        <a href="/form">Reserveren</a>
        <a href="/admin">Admin</a>
    </nav>
    
</header>