<!DOCTYPE html>
<html lang="en">

<%- include("../components/head") %>

  <body>
    <%- include("../components/header") %>

      <main>

        <h1>Reserveer uw halve kip</h1>
        <form action=/reserve method=post>

          <fieldset class="formName">
            <label>Wat is uw naam?</label>
            <input type="text" id="name" name="name" placeholder="Uw naam" required />
          </fieldset>

          <fieldset class="formPhone">
            <label>Wat is uw telefoon nummer?</label>
            <input type="tel" inputmode="tel" id="phone" name="phone" placeholder="+31612345678" required />
          </fieldset>

          <fieldset class="formChickens">
            <label>Hoeveel halve kippen wilt u reserveren? </label>
            <input type="number" id="chickens" name="chickens" placeholder="0" min="0" max="20" required />
          </fieldset>

          <fieldset class="formDate">
            <label for="date-input">Welke dag wilt u de halve kip reserveren?</label>
            <input type="date" id="date-input" name="date" required>
          </fieldset>
          

          <fieldset class="formTime">
            <label for="time-input">Hoelaat wilt u de kip reserveren?</label>
            <select type="time"id="time-input" name="time" class="js-on">
            </select>
            <noscript>
              <select id="time-input-js-off" name="time" required>
                <option class="js-off" value="17:00">17:00</option>
                <option class="js-off" value="17:15">17:15</option>
                <option class="js-off" value="17:30">17:30</option>
                <option class="js-off" value="17:45">17:45</option>
                <option class="js-off" value="18:00">18:00</option>
                <option class="js-off" value="18:15">18:15</option>
                <option class="js-off" value="18:30">18:30</option>
                <option class="js-off" value="18:45">18:45</option>
                <option class="js-off" value="19:00">19:00</option>
                <option class="js-off" value="19:15">19:15</option>
                <option class="js-off" value="19:30">19:30</option>
                <option class="js-off" value="19:45">19:45</option>
                <option class="js-off" value="20:00">20:00</option>
              </select>
            </noscript>
          </fieldset>

          <fieldset class="formSubmit">
            <input id="submitButton" type="submit" value="Reserveer" required>
          </fieldset>
        </form>

      </main>

      <%- include("../components/footer") %>

        <script src="/scripts/order-time.js"></script>
        <script src="/scripts/form-validation.js"></script>

  </body>

</html>