<!DOCTYPE html>
<html lang="en">

<% include("../components/head"); %>

    <body>
        <% include("../components/footer"); %>


            <main>
                
                <h1>Reserver uw halve kip</h1>
                <form action="reserve" method="post">

                    <div class="chicken-amount">
                        <label for="chickens">Number of chickens:</label>
                        <input type="number" id="chickens" name="chickens" value="<%= chickens %>" />
                        <input type="button" onclick="addOne()" value="+1" />
                        <input type="button" onclick="removeOne()" value="-1" />
                      </div>
                    
                    <div class="date">
                        <label for="date-input">Select a date:</label>
                        <input type="date" id="date-input" name="date" min="<%= minDate %>" max="<%= maxDate %>">

                    </div>
                </form>
            </main>

        <script src="/static/styles/scripts/"></script>

    </body>

</html>