<!DOCTYPE html>
<html lang="en">

<%- include("../components/head"); %>

    <body>
        <%- include("../components/header"); %>

            <main>
                <div class="container">
                    <h1>Welkom bij 't Kippaleis!</h1>
                    <p>Wilt u er zeker van zijn dat de halve kippen niet uitverkocht zijn?

                        Reserveer dan snel uw kippetje hierboven. Reserveren kan tot 14:30 op de dag van de reservering.
                        Om 21:00 gaan de reservering voor de volgende dag weer open.
                    </p>
                </div>
            </main>

            <%- include("../components/footer"); %>

    </body>

</html>