/* Root */
:root {
  --color-primary: #432818;
  --color-secondary: #99582A;
  --color-bg: #ffe6a7;
  --color-text: #e1aa28;
}

/* FONT */

@font-face {
  font-family: "roboto", "lato";
  src: 
      url(../fonts/Roboto-Regular.woff2) format("woff2"), 
      url(../fonts/Lato-Bold.woff2) format("woff2");
}


body{
  margin: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  background-color: var(--color-bg);
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 3em;
}

h1 {
  font-family: "lato", Arial, Helvetica, sans-serif;
}


/* header */

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  height: 2rem;
  background-color: var(--color-primary);
}
.menu-icon {
  width: 1.8em;
  height: 0.25em;
  background-color: var(--color-bg);
  margin: 0.25em 0;
}   


