/* FONT */

@font-face {
  font-family: "Roboto-Regular", "Lato-Bold";
  src:
    url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Lato-Bold.woff2) format("woff2");
}

/* Root */
:root {
  /* colors */
  --color-primary: #432818;
  --color-secondary: #99282A;
  --color-bg: #ffe6a7;
  --color-text: #e1aa28;
  --color-input: #D17E42;

  /* fonts */
  --font-body: "Roboto-Regular", Arial, Helvetica, sans-serif;
  --font-head: "Lato-Bold", Arial, Helvetica, sans-serif;
}




/* basic code */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--color-bg);
  height: 100dvh;

}

main {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3em;
  height: 100dvh;

}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-head);
  width: 100%;
}

p {
  font-family: var(--font-body);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}





/* inputs styling */
input[type="submit"] {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font-head);
  margin: 1.2rem 2.5rem 1.2rem;
  padding: 1.2rem 2.5rem 1.2rem;
  font-size: 1.2rem;
}




/* header and footer */
header {
  font-family: var(--font-head);
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  height: 3rem;
  background-color: var(--color-primary);
}

footer {
  font-family: var(--font-body);
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 2rem;
  background-color: var(--color-primary);

}

header nav,
footer nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

}

header nav a,
footer nav a {
  color: var(--color-text);
  text-decoration: none;
}






/* Form */
main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 0.72rem 0.72rem;
  gap: 0.2rem;
}

main form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

main form div input,
main form div input::placeholder,
#date-input,
#time-input {
  background-color: var(--color-input);
  color: var(--color-primary);
  border: none;
  gap: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.formSubmit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.submitButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* Homepage container */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0.72rem 0;
}

.container p {
  margin: 0 1rem 0 0.72rem;
}



/* Admin page */
.adminContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  align-items: baseline;
  align-content: center;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 40%;
}

.leftContainer {
  position: relative;
  margin-left: 1rem; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 50%;
  list-style-type: none;
  padding: 0;
}

.right {
  height: 100dvh;
  display: flex;
  flex-basis: 50%;
  list-style-type: none;
  flex-direction: column;
}

.rightContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .weatherTemp {
    grid-area: 2 / 1 / 3 / 3;
  }

